body {
    font: 16px Arial;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
}
.flex{
    display: flex;
    justify-content: center;
}
.flex>button{
    flex:1;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
input[type=password] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}


html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 24px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.primary {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: black;
}
.regular{
    font-family: 'Raleway', sans-serif;
    font-size:14px;
}

.font-op {
    font-size: 16px !important;
    color: white !important;
}
.font-op-b {
    font-family: 'Poppins';
    font-size: 24px !important;
    color: black !important;
}
font-op-3{
    font-family: 'Poppins';
    font-size: 20px !important;
    color: black !important;
}

.extend {
    width: 100%;
}

.padding-16 {
    padding: 16px;
}



#login{
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-title {
    text-align: center;
}

.form-control {
    margin-bottom: 15px;
}

#dropmenu:hover{
    background-color: lightgray;
}
#master{
    height: 67vh;
    background: #eee;
    overflow-y: scroll;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .fa{
      width:100%;
      padding:10px;
  }
  .speech-bubble-left {
      position: relative;
      background: #fff;
      border-radius: .4em;
      padding: 6px;
    max-width: 80%;
      margin:10px;
      margin-left:12px;
      color:#686868
  }
  
  .speech-bubble-left:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 19px solid transparent;
      border-right-color: #fff;
      border-left: 0;
      border-bottom: 0;
      margin-top: -9.5px;
      margin-left: -19px;
  }
  
  
  .speech-bubble-right {
      position: relative;
      background: #fff;
      border-radius: .4em;
      padding: 6px;
    max-width: 80%;
      margin:10px;
      margin-right:24px;
  color:#686868
  }
  
  .speech-bubble-right:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 19px solid transparent;
      border-left-color: #fff;
      border-right: 0;
      border-bottom: 0;
      margin-top: -9.5px;
      margin-right: -19px;
  }

